<% if @user === 0 %>
    <h2>Please enter a valid username</h2>
<% else %>
    <%= image_tag(@user['avatar_url']) %>
    <h3>Username: <%= @user['login'] %></h3>
    <h3>GitHub ID: <%= @user['id'] %></h3>
    <h3>Gravatar ID: <%= @user['gravatar_id '] === nil ? "No Gravatar ID" : @user['gravatar_id '] %> </h3>
    <h3><%= link_to "GitHub API Search Link", @user['url'] %></h3>
    <h3><%= link_to "GitHub Profile Link", @user['html_url'] %></h3>
    <h3>Gists Link: <%= @user['gists_url'] %></h3>
    <h3>Starred Link: <%= @user['starred_url'] %></h3>
    <h3><%= link_to "Subscriptions Link", @user['subscriptions_url'] %></h3>
    <h3><%= link_to "Organizations Link", @user['organizations_url'] %></h3>
    <h3><%= link_to "Repos Link", @user['repos_url'] %></h3>
    <h3>Events Link: <%= @user['events_url'] %></h3>
    <h3><%= link_to "Received Events Link", @user['received_events_url'] %></h3>
    <h3>User Type: <%= @user['type'] %></h3>
    <h3>A Site Admin? : <%= @user['site_admin'] ? 'YES' : 'NO' %></h3>
    <h3>Score: <%= @user['score'] %></h3>
   ------------- 
    <% if @followers[0].include?("login") %>
        <div id='follower_btn_area'>
            <%= form_tag(show_follower_path, remote: true, method: "get", id: 'show_follower') do %>
                <%= hidden_field_tag :page_num, 1 %>
                <%= hidden_field_tag :follower_link, @user['followers_url'] %>
                <%= submit_tag("Show Follower") %>
            <% end %>
        </div>
        <div id='follower_area'></div>
    <% else %>
        <div>
            <h1>This user doesn't have any followers</h1>
        </div>
    <% end %>
    --------------
<% end %>






