<div class='row'>
  <% if @last_button %>    
    <div class='col-md-3'>
      <%= form_tag(show_follower_path, remote: true, method: "get") do %>
        <%= hidden_field_tag :page_num, @current_page - 1 %>
        <%= hidden_field_tag :follower_link, @link %>
        <%= submit_tag("Last Page") %>
      <% end %>
    </div>
  <% end %> 
  
  <% if @next_button %>
    <div class='col-md-3'>
      <%= form_tag(show_follower_path, remote: true, method: "get") do %>
        <%= hidden_field_tag :page_num, @current_page + 1 %>
        <%= hidden_field_tag :follower_link, @link %>
        <%= submit_tag("Next Page") %>
      <% end %>
    </div>
  <% end %>
</div>

<div class='row follower_show'>
  <% @followers.each do |follower| %>
    <%= render partial: "show", locals: {follower: follower} %>
  <% end %>
</div>

